<!DOCTYPE html>
<html>
  <head>
    <title>Holidays</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
<% if current_user %>
<% if admin_user %>
<%= link_to 'Users', users_path %> |
<% end %>
<%= link_to 'Account', edit_user_path(session[:user_id]) %> |
<%= link_to 'Logout', logout_path, method: :delete %>
<% end %>
  </body>
</html>
